
   .container {
     width: 60%;
     margin: 30px auto;
   }

   /* チャットの表示領域はスクロール可能にする */
.chat-area {
    height: 80vh;
    background: #8DB4E5;
    overflow: scroll
  }

/* メッセージの入力部分は高さを10vhにして、テキストエリアとボタンをflexで横並びにする*/
.message-area {
    height: 10vh;
    display: flex;
   }
   
   /* テキストエリアは80%で表示 */
   .message-area-text {
    width: 80%;
    resize: none; /* これでユーザーのリサイズをできなくする */
    border: 1px solid #ddd; /* 枠線をつけて領域を分かりやすく */
 box-sizing: border-box; /* borderを付けてるので、border込の大きさにする */
   }
   
   /* テキストエリアは20%で表示 */
   .message-area-button {
    width: 20%;
    background: #61E739;
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
    border: 0;
   }

